@font-face {
    font-family: 'DINOT';
    src: url('../assets/fonts/DINOT.woff2') format('woff2'),
        url('../assets/fonts/DINOT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINCond';
    src: url('../assets/fonts/DINCond-Bold.woff2') format('woff2'),
        url('../assets/fonts/DINCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINPro';
    src: url('../assets/fonts/DINPro-Black.woff2') format('woff2'),
        url('../assets/fonts/DINPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('../assets/fonts/DINOT-Bold.woff2') format('woff2'),
        url('../assets/fonts/DINOT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('../assets/fonts/DINOT-Medium.woff2') format('woff2'),
        url('../assets/fonts/DINOT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('../assets/fonts/DINOT-Black.woff2') format('woff2'),
        url('../assets/fonts/DINOT-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/fonts/DIN-Black.woff2') format('woff2'),
        url('../assets/fonts/DIN-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINOT';
    src: url('../assets/fonts/DINOT-Light.woff2') format('woff2'),
        url('../assets/fonts/DINOT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINPro';
    src: url('../assets/fonts/DINPro-Bold.woff2') format('woff2'),
        url('../assets/fonts/DINPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINPro';
    src: url('../assets/fonts/DINPro-Regular.woff2') format('woff2'),
        url('../assets/fonts/DINPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

